:{$PORT}

handle /api/* {
	reverse_proxy https://vitals-ai-chatbot-production.up.railway.app {
		header_up Host vitals-ai-chatbot-production.up.railway.app
	}
}

handle {
	root * dist
	file_server
	try_files {path} /index.html
	encode gzip
}